{% extends 'admin/base.html.twig' %}

{% block title %}Edit ProjectImage{% endblock %}

{% block body %}
    <h1>Edit ProjectImage</h1>

    {{ include('admin/project_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_project_image_index') }}">back to list</a>

    {{ include('admin/project_image/_delete_form.html.twig') }}
{% endblock %}
