<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        {# Navbar #}
        {{ include('admin/dashboard/_navbar.html.twig') }}

        <div class="container">
            <div class="columns">
                <div class="column is-3">

                    {# Side Menu #}
                    {{ include('admin/dashboard/_sidemenu.html.twig') }}

                </div>
                <div class="column is-9">

                    {# Breadcrumb #}
                    {% block breadcrumb %}{% endblock %}

                    {# Body #}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
