<section class="section" id="about">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half mb-6">
                <h2 class="title has-text-centered">About me</h2>
                <p class="has-text-centered">
                    Hi there, I'm a <strong>back end web developer</strong> who is finishing his training at
                    <strong>Wild Code School</strong>.
                    I'm currently looking for an <strong>internship</strong> or first job opportunities, so don't hesitate to
                    <a href="#">hit me up</a> !
                </p>
            </div>
            <div class="column"></div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h4 class="title is-4">Skills</h4>
                        <div class="content">
                            <ul>
                                {% for techno in technos %}
                                    <li><strong>{{ techno.name }}</strong> | {{ techno.type }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h4 class="title is-4">Education</h4>
                        <div class="content">
                            <p><strong>Wild Code School</strong> - Strasbourg - 2020</p>
                            <p>Web development and mobile web development PHP / Symfony </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>