<section class="section" id="about">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half mb-6">
                <h2 class="title has-text-centered">About me</h2>
                <p class="has-text-centered">
                    Hi there, I'm a <strong>back end web developer</strong> who is finishing his training at
                    <strong>Wild Code School</strong>.
                    I'm currently looking for an <strong>internship</strong> or first job opportunities, so don't hesitate to
                    <a href="#">hit me up</a> !
                </p>
            </div>
            <div class="column"></div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">Working with</h4>
                    </div>
                    <div class="card-content">
                        <div class="field is-grouped is-grouped-multiline">
                            {% set color = '' %}
                            {% for techno in technos %}
                                {% if techno.type == 'Programming language' %}
                                    {% set color = 'is-primary' %}
                                {% elseif techno.type == 'Web language' %}
                                    {% set color = 'is-warning' %}
                                {% elseif techno.type == 'Framework' %}
                                    {% set color = 'is-success' %}
                                {% endif %}
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag {{ color }}"></span>
                                        <span class="tag is-dark">{{ techno.name }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">Education</h4>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><strong>Wild Code School</strong> - Strasbourg - 2020</p>
                            <p>Web development and mobile web development PHP / Symfony </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>