<section class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <ul>
                        <li class="mb-3">
                            <a href="#">
                                <span class="icon has-text-light">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </span>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#">
                                <span class="icon has-text-light">
                                    <ion-icon name="logo-github"></ion-icon>
                                </span>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#">
                                <span class="icon has-text-light">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </span>
                            </a>
                        </li>
                        <li class="mb-3">
                            <a href="#">
                                <span class="icon has-text-light">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <div>
                        <h1 class="title is-1 has-text-primary">Pierre MULLER</h1>
                        <h4 class="subtitle">Web developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Footer #}
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Clients</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>