<section class="section has-background-info" id="portfolio">
    <div class="container">
        <h2 class="title has-text-centered has-text-light">Portfolio</h2>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification">
                            <p class="title">Project A</p>
                            <p class="subtitle">Top tile</p>
                            <div class="field is-grouped">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-primary"></span>
                                        <span class="tag is-dark">PHP</span>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-success"></span>
                                        <span class="tag is-dark">Symfony</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="tile is-child notification">
                            <p class="title">Project B</p>
                            <p class="subtitle">Bottom tile</p>
                            <div class="field is-grouped">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-danger"></span>
                                        <span class="tag is-dark">HTML</span>
                                    </div>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-info"></span>
                                        <span class="tag is-dark">CSS</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            <p class="title">Project C</p>
                            <p class="subtitle">With an image</p>
                            <div class="field is-grouped">
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-warning"></span>
                                        <span class="tag is-dark">Javascript</span>
                                    </div>
                                </div>
                            </div>
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/640x480.png">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <p class="title">Project D</p>
                        <p class="subtitle">Aligned with the right tile</p>
                        <div class="field is-grouped">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-primary"></span>
                                    <span class="tag is-dark">PHP</span>
                                </div>
                            </div>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-success"></span>
                                    <span class="tag is-dark">Symfony</span>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="content">
                        <p class="title">Project E</p>
                        <p class="subtitle">With even more content</p>
                        <div class="field is-grouped">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-primary"></span>
                                    <span class="tag is-dark">PHP</span>
                                </div>
                            </div>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-success"></span>
                                    <span class="tag is-dark">Symfony</span>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>