<footer class="footer">
    <div class="container">
        <p>Developed with <span class="icon"><ion-icon name="heart"></ion-icon></span> by Pierre Muller, using Symfony and Bulma</p>
        <p>The source code is licenced MIT</p>
    </div>
</footer>