<section class="hero is-fullheight-with-navbar is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 has-text-primary">Pierre MULLER</h1>
            <h4 class="subtitle">Back end web developer</h4>
        </div>
    </div>

    {# Footer #}
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Clients</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>